<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../static/bootstrap.css ">
    <link rel="stylesheet" href="../static/all.css">

</head>


<body>




    <div id="header1">
        <header class="d-flex justify-content-center py-3">
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="../templates/motorcycles.html" class="nav-link " style=" text-decoration: none; color: white;"> MOTERCYCLES</a>
                </li>
                <li class="nav-item"><a href="../templates/dealers.html" class="nav-link"  style=" text-decoration: none; color: white;">DEALERS</a></li>
                <li class="nav-item"><a href="../templates/testride.html" class="nav-link"  style=" text-decoration: none; color: white;">TEST RIDE</a></li>
                <li class="nav-item"><a href="https://www.jawamotorcycles.com/motorcycles/booking" class="nav-link"  style=" text-decoration: none; color: white;">BOOK ONLINE</a></li>
                <li class="nav-item"><a href="../templates/kommuniti.html" class="nav-link"  style=" text-decoration: none; color: white;">KOMMUNITI</a></li>
            </ul>
        </header>
    </div>


    <img src="../static/dealerfi.jpg" alt="">

    <div id="maindealer">
        <h1><b> jawa dealers</b></h1>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">


                ASCO MOTORS <br> 9810469407 <br>
                80, Fie, Patparganj Industrial Area New Delhi, Delhi,New Delhi,Delhi,India <br>
                New Delhi <a
                    href="https://www.google.com/maps/place/80,+Patparganj+Industrial+Area,+Patparganj,+New+Delhi,+Delhi+110092/@28.6378613,77.3106819,17z/data=!3m1!4b1!4m5!3m4!1s0x390cfb342929062f:0x3946268ba7357cc6!8m2!3d28.6378613!4d77.3128706">
                    <img src="../static/location.png" alt="" style="width: 30px; height:30px;" class="location1"></a> direction
                <hr>
                <hr>

                SWATI MOTORS <br>8800172130 <br>
                F-26/4 Okhla Phase-2 Industrial Area<br>
                New Delhi
                <a
                    href="https://www.google.com/maps/search/F-26%2F4+Okhla+Phase-2+Industrial+Area+New+Delhi/@28.5376146,77.2694561,18z/data=!3m1!4b1">
                    <img src="../static/location.png" alt="" style="width: 30px; height:30px;" class="location2"></a> direction
                <hr>
                <hr>

                DYNAMIC AUTOCRAFT <br>8274076699 <br>
                150/H, Barrackpur Trunk Road, Tittagarh, Kolkata<br>
                New Delhi
                <a
                    href="https://www.google.com/maps/dir//150h,+Barrackpore+Trunk+Rd,+Titagarh,+Kolkata,+West+Bengal+700119/@22.7358445,88.3710624,16.74z/data=!4m17!1m7!3m6!1s0x39f89bbcba0696ad:0xbf88e337dce3eb23!2s150h,+Barrackpore+Trunk+Rd,+Titagarh,+Kolkata,+West+Bengal+700119!3b1!8m2!3d22.735686!4d88.3732217!4m8!1m0!1m5!1m1!1s0x39f89bbcba0696ad:0xbf88e337dce3eb23!2m2!1d88.3732217!2d22.735686!3e3">
                    <img src="../static/location.png" alt="" style="width: 30px; height:30px;" class="location3"></a> direction
                <hr>
                <hr>


                SUNSHRINE VENTURES LLP <br>8605300505 <br>
                CTS NO 44, Flat # 1, FP 66, Vijay Apartment, Sahvas Society, Gali Number 6, Karve <br> Nagar, Pune,
                Maharashtra,Pune
                City,Maharashtra,India <br>
                Pune
                <a
                    href="https://www.google.com/maps/search/CTS+NO+44,+Flat+%23+1,+FP+66,+Vijay+Apartment,+Sahvas+Society,+Gali+Number+6,+Karve+Nagar,+Pune,+Maharashtra,Pune+City,Maharashtra,India+Pune/@18.4897301,73.8161639,16z/data=!3m1!4b1">
                    <img src="../static/location.png" alt="" style="width: 30px; height:30px;" class="location4"></a> direction
                <hr>
                <hr>

                GREEN GEARZ MOBILITY LLP <br>9922111207 <br>
                Shop No 12 & 13, Fun N Shop Building, Fatima Nagar,Pune Solapur Road, Hadapsar Pune <br>
                Pune
                <a
                    href="https://www.google.com/maps/search/Shop+No+12+%26+13,+Fun+N+Shop+Building,+Fatima+Nagar,Pune+Solapur+Road,+Hadapsar+Pune+Pune/@18.5047279,73.9019508,17z/data=!3m1!4b1">
                    <img src="../static/location.png" alt="" style="width: 30px; height:30px;" class="location5"></a> direction
                <hr>
                <hr>

                SHAKTI AUTOMOBILES- PIMPRI CHINCHWAD <br>7447733456 <br>
                GF, Maruti House, Plot No. GP187, G Block MIDC Pimpri Chinchwad Industrial Area <br>, Thermax Chowk ,
                Pune -
                411019
                <br>
                Pune
                <a
                    href="https://www.google.com/maps/place/Axis+Bank+Branch/@18.6604743,73.793619,17z/data=!3m1!4b1!4m5!3m4!1s0x3bc2b9273a630909:0x58bac4fbf632cc60!8m2!3d18.6604743!4d73.7958077">
                    <img src="../static/location.png" alt="" style="width: 30px; height:30px;" class="location6"></a> direction
                <hr>
                <hr>

                SHAKTI AUTOMOBILES <br>8605300505 <br>
                Sr num 257/1/4, Mankar capital Kaspate vasti, Mankar chowk Wakad, Pimpri <br> Chinchwad <br>
                Pune
                <a
                    href="https://www.google.com/maps/search/Shop+No+12+%26+13,+Fun+N+Shop+Building,+Fatima+Nagar,Pune+Solapur+Road,+Hadapsar+Pune+Pune/@18.5047279,73.9019508,17z/data=!3m1!4b1">
                    <img src="../static/location.png" alt="" style="width: 30px; height:30px;" class="location7"></a> direction
                <hr>
                <hr>

                SHREEJI MOTORS <br>8605300505 <br>
                Ward No 34, Kavivar Nepali Path Chowk, Near Santoshi Mata Mandir, Bettiah, West <br>
                Champaran,Bettiah,Bihar,India <br>
                Bettiah
                <a
                    href="https://www.google.com/maps/search/Ward+No+34,+Kavivar+Nepali+Path+Chowk,+Near+Santoshi+Mata+Mandir,+Bettiah,+West+Champaran,Bettiah,Bihar,India+Bettiah/@26.7992034,84.5068366,17z/data=!3m1!4b1">
                    <img src="../static/location.png" alt="" style="width: 30px; height:30px;" class="location8"></a> direction
                <hr>
                <hr>

                
            </div>
            <div class="col-lg-6">
                <a
                    href="https://www.google.com/maps/place/80,+Patparganj+Industrial+Area,+Patparganj,+New+Delhi,+Delhi+110092/@28.6378613,77.3106819,17z/data=!3m1!4b1!4m5!3m4!1s0x390cfb342929062f:0x3946268ba7357cc6!8m2!3d28.6378613!4d77.3128706">
                    <img src="../static/map.jfif" alt="" style="width:100% ; height:900px;"></a>

            </div>
        </div>
    </div>

    <hr>


    <div class="countainer-fluid" style="color: white;">
        <div class="row">
            <div class="col-lg-3">
                <a href="file:///C:/Users/Paras/Desktop/jawa/testride.html"> BOOK A TEST RIDE <br> <br></a>

                <a href="file:///C:/Users/Paras/Desktop/jawa/dealers.html"> DEALER LOCATOR <br> <br></a>

                FINANCE OFFERS <br> <br>

                <a href="https://www.jawamotorcycles.com/evaluation/default/index"> EXCHANGE YOUR BIKE <br> <br>
                </a>

                <a href="https://www.jawamotorcycles.com/contact"> CONTACT US </a>

            </div>

            <div class="col-lg-3">

                <a href="https://www.jawamotorcycles.com/gear"> GEAR <br> <br></a>

                <a href="https://www.jawamotorcycles.com/gear/jawarig"> THE JAWA RIG <br> <br></a>

                <a href="https://www.jawamotorcycles.com/gear/riderensemble"> RIDER ENSEMBLE<br> <br></a>

                <a href="file:///C:/Users/Paras/Desktop/jawa/kommuniti.html"> KOMMUNITI<br> <br></a>

                <a href="https://jawa.kogotrips.com/populartrips"> KOGO TRAILS <br> <br></a>

                <a href="https://www.jawamotorcycles.com/kommuniti/ijyd2020"> IJYD 2020 <br> <br> </a>

                <a href="https://www.jawamotorcycles.com/kommuniti/jawa-nomads"> JAWA NOMADS <br> <br></a>

            </div>

            <div class="col-lg-3">

                <a href="https://www.jawamotorcycles.com/legacy"> LEGACY <br> <br></a>

                <a href="file:///C:/Users/Paras/Desktop/jawa/degan.html"> HISTORY <br> <br></a>

                <a href="https://www.jawamotorcycles.com/legacy/stable"> STEEDS OF STEEL <br> <br></a>

                <a href="https://www.jawamotorcycles.com/legacy/legends"> LEGENDS <br> <br></a>

                <a href="https://www.yezdi.com/"> YEZDI.COM</a>

            </div>

            <div class="col-lg-3">

                get updates on whatsapp <br> <br>

                Subscribe to receive our updates on all <br>
                the news at Jawa Motorcycles. <br> <br>


                enter mobile no -> <br> <br>

                ___________________________________________

            </div>

        </div>

    </div>
    </div>





</body>