<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap.css">
    <link rel="stylesheet" href="../static/all.css">
    <title>Document</title>
    <style>
       
    </style>
</head>


<div id="header1">
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="../templates/motorcycles.html" class="nav-link " style=" text-decoration: none; color: white;"> MOTERCYCLES</a>
            </li>
            <li class="nav-item"><a href="../templates/dealers.html" class="nav-link"  style=" text-decoration: none; color: white;">DEALERS</a></li>
            <li class="nav-item"><a href="../templates/testride.html" class="nav-link"  style=" text-decoration: none; color: white;">TEST RIDE</a></li>
            <li class="nav-item"><a href="https://www.jawamotorcycles.com/motorcycles/booking" class="nav-link"  style=" text-decoration: none; color: white;">BOOK ONLINE</a></li>
            <li class="nav-item"><a href="../templates/kommuniti.html" class="nav-link"  style=" text-decoration: none; color: white;">KOMMUNITI</a></li>
        </ul>
    </header>
</div>
<body>
    <div>
            <div class="container-fluid">
                <div class="row">
                    <center>
                        <div class="col-lg-12">
                            <h1> <b> jasper red dual tone </b> </h1>
                        </div>
                    </center>

                    <center>
                        <div class="col-lg-12"> t's a 42. It's a bobber. <br>
                            Presenting the Jawa 42 Bobber. The wheels for your whims. Light. Light-hearted. And it's
                            here,
                            for you
                            to meander.
                        </div>
                    </center>
                </div>

            </div>
        </div>



        <div id="bookride">
            <div class="container-fluid">
                <div class="row">
                    <center>
                        <div class="col-lg-12">
                            <h4> <b> BOOK TEST RIDE > <button type="button" class="btn btn-danger">BOOK ONLINE</button>
                                </b> </h4>

                        </div>
                    </center>

                </div>

            </div>
        </div>



        <div>
            <center><img src="../static/front1.png" alt="" style="width: 500PX; height: 1000PX;"> </center>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6"> <img src="../static/front2.png" alt="" style="width: 600PX; height: 700PX;">

                    </div>

                    <div class="col-lg-6" id="len8">
                        <h1> <b> SEE THE <br> UNHEARD </b></h1>
                        LED lamp and displays to light up new roads and <br> newer perspectives.
                    </div>

                </div>

            </div>


            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6"> <img src="../static/front3.png" alt="" style="width: 9 00PX; height: 1200PX;">

                    </div>

                    <div class="col-lg-6" id="len9">
                        <h1> <b> sit and <br> marvel </b></h1>
                        A bobber with an adjustable seat. Hit that sweet spot <br> of comfort and claim your window
                        seat
                        to
                        the
                        world
                    </div>

                </div>

            </div>
        </div>


        <div id="counter1">
            <center>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6">
                            <h1> <b>ENGINE CAPACITY <br>334cc </b> </h1>

                        </div>

                        <div class="col-lg-6">
                            <h1> <b>MAX POWER <br>22.5KW </b> </h1>

                        </div>

                    </div>

                </div>
            </center>
        </div>

        <div id="counter2">
            <center>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6">
                            <h1> <b>MAX TORQUE <br>32.74nw </b> </h1>

                        </div>

                        <div class="col-lg-6">
                            <h1> <b>WHEELBASE <br>1485MM </b> </h1>

                        </div>

                    </div>

                </div>
            </center>
        </div>
        <div id="counter3">
            <center>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6">
                            <h1> <b>COMPRESSION RATIO<br>11:1 </b> </h1>

                        </div>

                        <div class="col-lg-6">
                            <h1> <b>BORE STROKE <br>81x65MM </b> </h1>

                        </div>

                    </div>

                </div>
            </center>
        </div>

        
        <div id="view">
            <h1><b> 360° DEGREE VIEW</b></h1>
            <center><img src="../static/front4.png" alt=""></center>
            <center>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6">
                            <h1> <b> <button type="button" class="btn btn-dark"> BOOK TEST RIDE ></button></b> </h1>

                        </div>

                        <div class="col-lg-6">
                            <h1> <b> <button type="button" class="btn btn-dark"> BOOK ONLINE - $5000 ></button> </b>
                            </h1>

                        </div>

                    </div>

                </div>
            </center>
        </div>


        <div class="countainer-fluid" style="color: white;">
            <div class="row">
                <div class="col-lg-3">
                    <a href="file:///C:/Users/Paras/Desktop/jawa/testride.html"> BOOK A TEST RIDE <br> <br></a>

                    <a href="file:///C:/Users/Paras/Desktop/jawa/dealers.html"> DEALER LOCATOR <br> <br></a>

                    FINANCE OFFERS <br> <br>

                    <a href="https://www.jawamotorcycles.com/evaluation/default/index"> EXCHANGE YOUR BIKE <br> <br>
                    </a>

                    <a href="https://www.jawamotorcycles.com/contact"> CONTACT US </a>

                </div>

                <div class="col-lg-3">

                    <a href="https://www.jawamotorcycles.com/gear"> GEAR <br> <br></a>

                    <a href="https://www.jawamotorcycles.com/gear/jawarig"> THE JAWA RIG <br> <br></a>

                    <a href="https://www.jawamotorcycles.com/gear/riderensemble"> RIDER ENSEMBLE<br> <br></a>

                    <a href="file:///C:/Users/Paras/Desktop/jawa/kommuniti.html"> KOMMUNITI<br> <br></a>

                    <a href="https://jawa.kogotrips.com/populartrips"> KOGO TRAILS <br> <br></a>

                    <a href="https://www.jawamotorcycles.com/kommuniti/ijyd2020"> IJYD 2020 <br> <br> </a>

                    <a href="https://www.jawamotorcycles.com/kommuniti/jawa-nomads"> JAWA NOMADS <br> <br></a>

                </div>

                <div class="col-lg-3">

                    <a href="https://www.jawamotorcycles.com/legacy"> LEGACY <br> <br></a>

                    <a href="file:///C:/Users/Paras/Desktop/jawa/degan.html"> HISTORY <br> <br></a>

                    <a href="https://www.jawamotorcycles.com/legacy/stable"> STEEDS OF STEEL <br> <br></a>

                    <a href="https://www.jawamotorcycles.com/legacy/legends"> LEGENDS <br> <br></a>

                    <a href="https://www.yezdi.com/"> YEZDI.COM</a>

                </div>

                <div class="col-lg-3">

                    get updates on whatsapp <br> <br>

                    Subscribe to receive our updates on all <br>
                    the news at Jawa Motorcycles. <br> <br>


                    enter mobile no -> <br> <br>

                    ___________________________________________

                </div>

            </div>

        </div>
        </div>

</body>
</html>