<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
    <script src="https://kit.fontawesome.com/43d94d0551.js" crossorigin="anonymous"></script>
</head>
<style>
    #testdrive{
        margin-top: 100px;
    }
</style>

    
    <body
        style="background-image: url('https://www.ybierling.com/images/large/officeproductivity/best-notepad-app-for-office-productivity/best-notepad-app-for-office-productivity.jpg'); background-repeat:no-repeat;background-size:cover">
    

<body>
    
        <center>
            <!-- <h1>Welcome To Author Registration</h1><br>
            <h2><a href="/"><i>Home</i></a></a></h2><b> -->
            
            <div id="testdrive">
                
                    <form action="/adddata" method="post">
                        <table >
                            <tr>
                                <i class="fa fa-user"></i>
                                <input type="text" name="Name" placeholder="Entre Your Name" required>
                            </tr> <br> <br>
                            <tr>
                                <i class="fa fa-key"></i>
                                <input type="password" name="Password" placeholder="Entre Your Password" required>
                            </tr> <br> <br>
                            <tr>
                                <i class="fa fa-envelope"></i>
                                <input type="email" name="Email" placeholder="Entre Your Email" required>
                            </tr> <br> <br>
                            <tr>
                                <i class="fa fa-globe"></i>
                                <input type="text" name="City" placeholder="Entre Your City" >
                            </tr> <br> <br>
                            <tr>
                                <center>
                                    <td><input type="submit" value="Submit"></td>
                                    <td><input type="reset" value="refresh"></td>
                                </center>
                            </tr>
                        </table>
                    </form>
                
            </div>
        </center>  
   
</body>
</html>